/* page.module.css */

.header {
  background-color: rgb(176, 105, 239);
  color: white;
  padding: 20px 20%;
  opacity:0%
}

.footer {
  background-color: #f0f0f0;
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  height: 10vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.section {
  margin-bottom: 30px;
}

.heart-rate-display {
  margin-bottom: 20px;
}